<div class="row banner">
  <div class="col-md-4 col-sm-12">
    <h1 class="welcome">Building Strategies for your Financial Future
    </h1>
    <p>At Quantum Financial, we see uncertainty as opportunity. Our experienced team of advisors will help you construct a financial blueprint destined for future success.
    </p>
  </div>
  <div class="col-lg-6 col-md-7 col-sm-12 col-lg-offset-2 col-md-offset-1 photo">
    <figure><img class="banner-photo img-responsive" src="/assets/4295004557.jpg" />
      <figcaption>
        <h4>Meet Our Advisors
        </h4>
        <p><a href="/team/">Click Here</a>
        </p>
      </figcaption>
    </figure>
  </div>
</div>